<head>
    <link rel="stylesheet" type="text/css" href="main_2.css">
</head>
<body flow-prevent-drop ng-cloak>
<hr>
<section class="couple_section">
    <p> CURRENT BUCKET LIST </p>
    <div class="row" style="text-align: center; margin-bottom: 150px;">
        <div class ="col-sm-2 col-sm-offset-3">
            <figure>
                <img src={{taewoo.profileurl}} />
                <figcaption>{{taewoo.email}}</figcaption>
            </figure>
        </div>
        <div class ="col-sm-2" style="vertical-align: middle; text-align: middle; margin-top: 50px; margin-bottom: 50px;">
            <h6>♥<br>240</h6>
        </div>
        <div class="col-sm-2">
            <figure>
                <img src={{jaewha.profileurl}} />
                <figcaption>{{jaewha.email}}</figcaption>
            </figure>
        </div>
    </div>
    <hr>
</section>
<section class="list">
    <div class="row" style="text-align: center; margin-top: 30px; margin-bottom:30px;">
        <div class="bucketlist" ng-repeat="bucket in bucketlist">
        <div class="col-md-1 col-md-offset-3">
            <figure>
                <img src={{bucket[1].photourl}} alt="female" />
            </figure>
        </div>
        <div class="col-md-4">
            <p>[{{bucket[0].whenYear}}.{{bucket[0].whenMonth}}.{{bucket[0].whenDay}} ~ {{bucket[0].limitYear}}.{{bucket[0].limitMonth}}.{{bucket[0].limitDay}}] {{bucket[0].info}}</p>
        </div>
        <div class="col-md-1">
            <button type="button" class="button" data-toggle="modal" data-target="#myModal">complete</button>

            <!-- Modal -->
            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div flow-init="{target: '/upload'}"
                             flow-files-submitted="$flow.upload()"
                             flow-file-success="$file.msg = $message">
                            <div style="top: 35%; width: 100%; position: absolute;">
                                <span flow-btn><a style="padding-top: 5px; padding-bottom: 5px; cursor: pointer; text-decoration: none; font-weight: bold; color: #fff;">Choose file</a></span> <p style="color: #fff;">or drag it here.</p>
                            </div>
                            <div class="alert" flow-drop style="height: 390px; margin-left: 10px; margin-right: 10px; margin-top: 10px; margin-bottom: 10px; background-color: #858585">
                            </div>
                        </div>
                        <div class="row" style="margin-top: 40px; margin-bottom: 40px;">
                            <div class="col-sm-2">
                                <figure>
                                    <img src={{bucket[1].photourl}} alt="female" />
                                </figure>
                            </div>
                            <div class="col-sm-10">
                                <p>[{{bucket[0].whenYear}}.{{bucket[0].whenMonth}}.{{bucket[0].whenDay}} ~ {{bucket[0].limitYear}}.{{bucket[0].limitMonth}}.{{bucket[0].limitDay}}] {{bucket[0].info}}</p>
                            </div>
                            <md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        </div>
</section>
<footer class="foot_sec_a">
    <p>
        &copy; All rights are reserved by Monssoon.
    </p>
</footer>
</body>
